@import url("https://use.typekit.net/xxu6xgk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-secondary: "canada-type-gibson", sans-serif;
		--color-primary: 249 246 238;
		--color-secondary: 18 12 15;
		--color-secondary-rgb: 18, 12, 15;
		--color-focus: 180, 180, 180;
		--color-white: 255 255 255;
		--margin-mobile: 1rem;
		--margin-desktop: 1rem;
		--padding-mobile: 2rem;
		--padding-desktop: 2rem;
		--header-height-mobile: 4rem;
		--header-height-desktop: 4rem;
		--footer-height-mobile: 3rem;
		--footer-height-desktop: 3rem;
		--showreel-height-mobile: calc(
			100svh - var(--header-height-mobile) - var(--footer-height-mobile)
		);
		--showreel-height-desktop: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-desktop)
		);
		--container-height-mobile: calc(
			100svh - var(--header-height-mobile) - var(--footer-height-mobile)
		);
		--container-height-desktop: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-desktop)
		);
	}

	*::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	*::-webkit-scrollbar-track {
		background-color: rgba(var(--color-secondary-rgb), 0.2);
		-webkit-box-shadow: none;
	}
	*::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-secondary-rgb), 0.2);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	/* @supports (scrollbar-color: #ccc #fff) {
		* {
			scrollbar-color: rgba(var(--color-secondary-rgb), 0.2)
				rgba(var(--color-secondary-rgb), 0.2);
			scrollbar-width: thin;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	} */

	p {
		@apply text-bodyLarge;
		@apply mb-8;
	}

	/* MAX WIDTH WRAPPER */

	.max-width-wrapper {
		@apply max-w-desktop mx-auto px-4 lg:px-8;
	}

	/* KEYBOARD FOCUS */

	*:focus-visible {
		background-color: rgba(var(--color-focus));
		outline: 3px solid rgba(var(--color-focus));
		outline-offset: -1px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	-webkit-font-smoothing: antialiased;
}

/* a {
	display: inline-block;
	position: relative;
	overflow-x: clip;
	text-decoration: none;
	color: var(--color-secondary);
	transition: color 0.2s linear;
}

a::after {
	content: "";
	position: absolute;
	z-index: 50;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(var(--color-secondary-rgb), 1);
	transition: transform 0.3s;
	transform: translateX(-100%);
}

a:hover::after {
	transform: translateX(0);
} */

button {
	cursor: pointer;
}
