@import url("https://use.typekit.net/xxu6xgk.css");

@font-face {
	font-family: "hammock";
	src: url("/fonts/hammock/hammock-regular.woff2") format("woff2"),
		url("/fonts/hammock/hammock-regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-secondary: "canada-type-gibson", sans-serif;
		--font-script: "hammock", sans-serif;
		--color-primary: 255 255 255;
		--color-primary-rgb: 255, 255, 255;
		/* --color-primary: 249 246 238;
		--color-primary-rgb: 249, 246, 238; */
		--color-secondary: 18 12 15;
		--color-secondary-rgb: 18, 12, 15;
		--color-focus: 180, 180, 180;
		--color-white: 255 255 255;
		--margin-mobile: 1rem;
		--margin-desktop: 2rem;
		--padding-mobile: 0;
		--padding-desktop: 0;
		--header-height-mobile: 4rem;
		--header-height-desktop: 4rem;
		--footer-height-mobile: 3rem;
		--footer-height-desktop: 3rem;
		--showreel-height-mobile: calc(
			100svh - var(--header-height-mobile) - var(--footer-height-mobile)
		);
		--showreel-height-desktop: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-desktop)
		);
		--container-height-mobile: calc(
			100svh - var(--header-height-mobile) - var(--footer-height-mobile)
		);
		--container-height-desktop: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-desktop)
		);
	}

	*::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}
	*::-webkit-scrollbar-track {
		background-color: rgba(var(--color-primary-rgb), 0.2);
		-webkit-box-shadow: none;
	}
	*::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-secondary-rgb), 1);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	/* @supports (scrollbar-color: #ccc #fff) {
		* {
			scrollbar-color: rgba(var(--color-secondary-rgb), 0.2)
				rgba(var(--color-secondary-rgb), 0.2);
			scrollbar-width: thin;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	} */

	p {
		@apply text-bodyLarge;
		@apply mb-8;
	}

	/* MAX WIDTH WRAPPER */

	.max-width-wrapper {
		@apply max-w-desktop mx-auto px-4 lg:px-8;
	}

	/* KEYBOARD FOCUS */

	*:focus-visible {
		background-color: rgba(var(--color-focus));
		outline: 3px solid rgba(var(--color-focus));
		outline-offset: -1px;
	}

	/* RICH TEXT */

	.custom-rich-text-page {
		@apply md:w-1/2 xl:w-1/3;
	}

	.custom-rich-text p {
		@apply font-text font-extralight text-bodySmall lg:text-bodyLarge mb-8;
	}

	.custom-rich-text p:last-of-type {
		@apply mb-0;
	}

	.custom-rich-text h2 {
		@apply text-titleSmall md:text-titleMedium lg:text-titleLarge;
	}

	.custom-rich-text h3,
	.custom-rich-text h4 {
		@apply text-bodySmall md:text-bodyMedium lg:text-bodyLarge;
	}

	.custom-rich-text a {
		@apply font-normal;
	}

	p {
		@apply mb-0;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	-webkit-font-smoothing: antialiased;
}

.underlined-link {
	display: inline-block;
	position: relative;
	overflow-x: clip;
	text-decoration: none;
	color: var(--color-secondary);
	transition: color 0.2s linear;
}

.underlined-link::after {
	content: "";
	position: absolute;
	z-index: 50;
	bottom: 2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	transition: transform 0.3s;
	transform: translateX(0);
}

.underlined-link:hover::after {
	opacity: 0.5;
	transform: translateX(100%);
}

/* a,
button {
	transition: opacity 0.3s linear;
}

a:hover,
button:hover {
	opacity: 0.5;
} */

button {
	cursor: pointer;
}
