@import url('https://use.typekit.net/xxu6xgk.css');

@import 'tailwindcss';

@config './../tailwind.config.ts';

@theme {
}

@layer base {
	:root {
		--font-secondary: 'canada-type-gibson', sans-serif;
		--color-primary: 255 255 255;
		--color-primary-rgb: 255, 255, 255;
		--color-secondary: 18 12 15;
		--color-secondary-rgb: 18, 12, 15;
		--color-focus: 180, 180, 180;
		--color-white: 255 255 255;
		--max-width: 1600px;
		--margin-mobile: 1rem;
		--margin-desktop: 2rem;
		--padding-mobile: 0;
		--padding-desktop: 0;
		--header-height-mobile: 4rem;
		--header-height-desktop: 4.5rem;
		--footer-height-mobile: 3rem;
		--footer-height-desktop: 3rem;
		--showreel-height-mobile: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-mobile)
		);
		--showreel-height-desktop: calc(
			100svh - var(--header-height-desktop) - var(--footer-height-desktop)
		);
		--container-height-mobile: calc(100svh - var(--footer-height-mobile));
		--container-height-desktop: calc(100svh - var(--footer-height-desktop));
		--minimap-height: calc(100svh / 8.3);
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	html,
	body {
		-webkit-font-smoothing: antialiased;
		overscroll-behavior: none;
	}

	*::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	*::-webkit-scrollbar-track {
		background-color: rgba(var(--color-secondary-rgb), 0.2);
		-webkit-box-shadow: none;
	}
	*::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-secondary-rgb), 1);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	.artists-page::-webkit-scrollbar-thumb,
	.hide-scroll::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-primary-rgb), 1);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	.artists-page::-webkit-scrollbar-track,
	.hide-scroll::-webkit-scrollbar-track {
		background-color: rgba(var(--color-primary-rgb), 1);
		-webkit-box-shadow: none;
	}

	.cookies-overlay::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-secondary-rgb), 0.5);
		width: 1rem;
		height: 1rem;
		-webkit-box-shadow: none;
	}

	.cookies-overlay::-webkit-scrollbar-track {
		background-color: rgba(var(--color-primary-rgb), 0.8);
		-webkit-box-shadow: none;
	}

	/* @supports (scrollbar-color: #ccc #fff) {
		* {
			scrollbar-color: rgba(var(--color-secondary-rgb), 0.2)
				rgba(var(--color-secondary-rgb), 0.2);
			scrollbar-width: thin;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		} */

	p {
		@apply text-body-large;
		@apply mb-8;
	}

	button {
		@apply cursor-pointer;
	}

	/* MAX WIDTH WRAPPER */

	.max-width-wrapper {
		@apply max-w-desktop mx-auto px-4 lg:px-8;
	}

	/* KEYBOARD FOCUS */

	*:focus-visible {
		background-color: rgba(var(--color-focus));
		outline: 3px solid rgba(var(--color-focus));
		outline-offset: -1px;
	}
}

@layer components {
	/* RICH TEXT */

	.custom-rich-text-page {
		@apply md:w-1/2 xl:w-1/3;
	}

	.custom-rich-text p {
		@apply font-text font-extralight text-body-small lg:text-body-large mb-8;
	}

	.custom-rich-text p:last-of-type {
		@apply mb-0;
	}

	.custom-rich-text h2 {
		@apply text-title-small md:text-title-medium lg:text-title-large;
	}

	.custom-rich-text h3,
	.custom-rich-text h4 {
		@apply text-body-small md:text-body-medium lg:text-body-large;
	}

	.custom-rich-text a {
		@apply font-normal;
	}

	p {
		@apply mb-0;
	}

	.gutter-stable {
		scrollbar-gutter: stable both-edges;
	}

	.underlined-link {
		position: relative;
		overflow-x: clip;
		text-decoration: none;
		width: fit-content;
		color: var(--color-secondary);
	}

	.underlined-link::after {
		content: '';
		position: absolute;
		z-index: 50;
		bottom: 2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
		transition: transform 0.3s;
		transform: translateX(-105%);
	}

	.underlined-link:hover::after {
		transform: translateX(0%);
	}

	.active.underlined-link::after {
		transform: translateX(0%);
		animation: slide-in 0.5s ease forwards;
	}

	@keyframes slide-in {
		0% {
			transform: translateX(-105%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	.custom-video-container iframe {
		cursor: pointer;
	}
}
